In [4]:
import pandas as pd

 # Reading data

In [5]:
df=pd.read_csv("data4.csv")

In [6]:
df.head()

        Fever  BodyPain  Age  RunnyNose  DiffBreath  InfectionProb
0  105.126397         1   74          0           1              1
1  102.823671         0   28          1           1              1
2  104.259067         1   59          0          -1              1
3   98.799138         1   71          1          -1              0
4  104.596661         0   53          1           0              1

In [7]:
df.tail()

           Fever  BodyPain  Age  RunnyNose  DiffBreath  InfectionProb
1994  102.754738         1   83          1           0              1
1995   99.694910         1   23          0          -1              0
1996  104.836298         0   34          1           1              1
1997  100.202626         1   36          1           0              0
1998  103.840713         0   99          0           0              1

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1999 entries, 0 to 1998
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Fever          1999 non-null   float64
 1   BodyPain       1999 non-null   int64
 2   Age            1999 non-null   int64
 3   RunnyNose      1999 non-null   int64
 4   DiffBreath     1999 non-null   int64
 5   InfectionProb  1999 non-null   int64
dtypes: float64(1), int64(5)
memory usage: 93.8 KB

In [9]:
df['DiffBreath'].value_counts()

 0    677
 1    669
-1    653
Name: DiffBreath, dtype: int64

In [10]:
df.describe()

,Fever,BodyPain,Age,RunnyNose,DiffBreath,InfectionProb
count,1999.000000,1999.000000,1999.000000,1999.000000,1999.000000,1999.000000
mean,101.988064,0.509255,51.066033,0.505253,0.008004,0.494247
std,2.274075,0.500039,28.704784,0.500098,0.813386,0.500092
min,98.012444,0.000000,1.000000,0.000000,-1.000000,0.000000
25%,100.053632,0.000000,27.000000,0.000000,-1.000000,0.000000
50%,101.941261,1.000000,51.000000,1.000000,0.000000,0.000000
75%,103.900916,1.000000,76.000000,1.000000,1.000000,1.000000
max,105.997365,1.000000,100.000000,1.000000,1.000000,1.000000

#  Train test spliting

In [11]:
import numpy as np

In [12]:
def data_split(data,ratio):
    np.random.seed(42)
    shuffled=np.random.permutation(len(data))
    test_set_size=int(len(data)*ratio)
    test_indices=shuffled[:test_set_size]
    train_indices=shuffled[test_set_size:]
    return data.iloc[train_indices],data.iloc[test_indices]

In [13]:
np.random.permutation(7)

array([3, 5, 6, 4, 2, 0, 1])

In [14]:
train,test=data_split(df,0.2)

In [15]:
train

           Fever  BodyPain  Age  RunnyNose  DiffBreath  InfectionProb
966   102.530173         0   95          1           0              1
240   105.915215         0   48          0           1              1
812    99.765235         0   54          1           0              0
1824  100.839259         0   91          1           1              1
1244  100.237183         1  100          1           0              1
...          ...       ...  ...        ...         ...            ...
1130  104.272812         1   11          0           0              0
1294  104.626435         0   70          0           0              1
860    98.930067         1   54          1           0              1
1459  100.638029         0   81          1           0              0
1126  104.458186         1   24          1           0              1

[1600 rows x 6 columns]

In [16]:
test

           Fever  BodyPain  Age  RunnyNose  DiffBreath  InfectionProb
256   103.356563         1   85          1           1              0
352   104.480101         1   67          1           1              1
298   103.717872         1   43          0           1              0
581   102.876495         0   85          1           0              1
1288  102.970620         0   90          1           0              0
...          ...       ...  ...        ...         ...            ...
1616  101.607470         0   49          0          -1              1
650   104.935582         0   54          0           0              1
1973  105.731837         1   92          1           0              0
261   104.447514         0   14          1           1              0
1305  101.508815         0   87          0           1              1

[399 rows x 6 columns]

# converting training data to numpy array

In [17]:
x_train=train[['Fever','BodyPain','Age','RunnyNose','DiffBreath']].to_numpy()
x_test=test[['Fever','BodyPain','Age','RunnyNose','DiffBreath']].to_numpy()

In [18]:
y_train=train['InfectionProb'].to_numpy().reshape(1600,)
y_test=test['InfectionProb'].to_numpy().reshape(399,)

In [19]:
y_train

array([1, 1, 0, ..., 1, 0, 1], dtype=int64)

# logistic Regression

In [29]:
 #from sklearn.linear_model import LogisticRegression
r

In [49]:
clf= LogisticRegression()
clf.fit(x_train,y_train)

KNeighborsClassifier(n_neighbors=6)

In [50]:
inputFeature=[98.34,1,91,1,1]
infprob=clf.predict_proba([inputFeature])[0][1]

In [51]:
infprob

0.5

In [52]:
from sklearn.metrics import accuracy_score

In [53]:
y_pred=clf.predict(x_test)

In [54]:
accuracy_score(y_pred,y_test)

0.5087719298245614