In [8]:
import pandas as pd

 # Reading data

In [2]:
df=pd.read_csv("data.csv")

In [5]:
df.head()

        Fever  Bodypain  Age  Runnynose  Diffbreath  Infedctionprob
0  101.579526         1   39          1           1               1
1   98.724914         0   61          1           0               0
2   99.227279         0    7          0           1               0
3  100.019417         0   67          1           1               0
4  100.905737         1   12          1          -1               1

In [4]:
df.tail()

          Fever  Bodypain  Age  Runnynose  Diffbreath  Infedctionprob
195   99.478243         0   43          0           1               0
196   99.456310         1   81          1          -1               1
197  101.873490         0   47          0           1               0
198   98.195583         1   30          1          -1               1
199   99.007275         0    7          1           0               0

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Fever           200 non-null    float64
 1   Bodypain        200 non-null    int64
 2   Age             200 non-null    int64
 3   Runnynose       200 non-null    int64
 4   Diffbreath      200 non-null    int64
 5   Infedctionprob  200 non-null    int64
dtypes: float64(1), int64(5)
memory usage: 9.5 KB

In [13]:
df['Diffbreath'].value_counts()

 0    75
 1    66
-1    59
Name: Diffbreath, dtype: int64

In [14]:
df.describe()

,Fever,Bodypain,Age,Runnynose,Diffbreath,Infedctionprob
count,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000
mean,100.107355,0.475000,51.030000,0.500000,0.035000,0.500000
std,1.174183,0.500628,28.895394,0.501255,0.791776,0.501255
min,98.001633,0.000000,1.000000,0.000000,-1.000000,0.000000
25%,99.099388,0.000000,25.750000,0.000000,-1.000000,0.000000
50%,100.163289,0.000000,54.000000,0.500000,0.000000,0.500000
75%,101.114394,1.000000,76.000000,1.000000,1.000000,1.000000
max,101.991348,1.000000,100.000000,1.000000,1.000000,1.000000

#  Train test spliting (method of measuring the accuracy of ML model--In this we split data into 2 sets: [a]-Training set--> Create the model [b]-Testing set-->testing the accueacy of model)

In [15]:
import numpy as np

In [24]:
def data_split(data,ratio):
    np.random.seed(42)
    shuffled=np.random.permutation(len(data))
    test_set_size=int(len(data)*ratio)
    test_indices=shuffled[:test_set_size]
    train_indices=shuffled[test_set_size:]
    return data.iloc[train_indices],data.iloc[test_indices]

In [25]:
np.random.permutation(7)

array([0, 2, 6, 3, 4, 5, 1])

In [26]:
train,test=data_split(df,0.2)